{% extends 'common/../bases/base_logged_in.html' %}
{% load static %}
{% block page_content %}


    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">

            <h1 class="display-5 fw-bold lh-1 mb-3">Support</h1>
            <h4> Our support team is available 24 hours, 7 days a week!</h4>
            <p class="lead">Email: support@elogistics.com</p>
            <p class="lead">Phone number: +359 999 999 100</p>

        </div>
    </div>

{% endblock %}