{% extends 'common/../bases/base_not_logged.html' %}
{% load static %}
{% block page_content %}


    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">

            <h1 class="display-5 fw-bold lh-1 mb-3">History</h1>
            <p class="lead">This is the history of the company
                <!{{ about_data.history }}></p>

        </div>
    </div>

    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">

            <h1 class="display-5 fw-bold lh-1 mb-3">Freight Exchange</h1>
            <p class="lead">More information regarding the freight exchange
                <!{{ about_data.exchange_introduction }}></p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <a href="{% url 'register' %}">
                    <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Register</button>
                </a>

            </div>

        </div>
    </div>
{% endblock %}