{% extends 'common/../bases/base_not_logged.html' %}
{% block page_content %}

    <section id="components">
        <h2 class="sticky-xl-top fw-bold pt-3 pt-xl-5 pb-2 pb-xl-3">Our Offices</h2>

        <article >

        <div style="padding-top: 10px">
            {% for office in offices %}
                <div style="padding-top: 10px; background-color: cadetblue; color: black; font-weight: bold"><div style="padding-left: 20px">{{ office.country }}</div></div>
                <div style="padding: 10px">
                    <ul>
                        <li>City:
                            <div style="font-weight: bold">{{ office.city }}</div>
                        </li>
                        <li>Address:
                            <div style="font-weight: bold">{{ office.address }}</div>
                        </li>
                        <li>Email:
                            <div style="font-weight: bold">{{ office.contact_email }}</div>
                        </li>
                        <li>Phone number:
                            <div style="font-weight: bold">{{ office.phone_number }}</div>
                        </li>
                    </ul>


                </div>



                </div>
            {% endfor %}


                        </div>
                    </div>
                </div>

            </div>
        </article>
    </section>


{% endblock %}