{% extends 'common/../bases/base_not_logged.html' %}
{% load static %}
{% block page_content %}
    <! Here we should add some offices via the admin page in order to see the result>

    <div class="container px-4 py-5" id="hanging-icons">
        <h2 class="pb-2 border-bottom">Services</h2>

        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
            {% for service in services %}
                <div class="col d-flex align-items-start">
                    <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                    </div>
                    <div>
                        <h3 class="fs-2">{{ service.service_type }}</h3>
                        <p>{{ service.long_text }}</p>
                        <h6>Contact us:</h6>
                        <ul>
                            <li>Contact person:
                                <div style="font-weight: bold">{{ service.contact_person }}</div>
                            </li>
                            <li>Email:
                                <div style="font-weight: bold">{{ service.general_email }}</div>
                            </li>
                            <li>Phone number:
                                <div style="font-weight: bold">{{ service.phone_number }}</div>
                            </li>
                        </ul>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>

{% endblock %}